extends layout
block head
  link(rel="stylesheet", href="/assets/styleAdmin.css")
block content

  .card.text-center
        include card-header
        .card-body.mx-auto.w-100
            form.card-body-CRUD
                .mb-3
                    label.form-label Арктикул 
                    input.form-control(type='text' value= `${result[0].arcticul}` name="arcticul")
                .mb-3
                    label.form-label Название 
                    input.form-control(type='text' value= `${result[0].name}`  name="name")
                .mb-3
                    label.form-label Производитель 
                    input.form-control(type='text' value= `${result[0].manufacturer}` name="manufacturer")
                .mb-3
                    label.form-label Каркас 
                    input.form-control(type='text' value= `${result[0].frame}` name="frame")
                .mb-3
                    label.form-label Слив-перелив 
                    input.form-control(type='text' value= `${result[0].drain}` name="drain")
                .mb-3
                    label.form-label Фронтальная панель 
                    input.form-control(type='text' value= `${result[0].panel}` name="panel")
                .mb-3
                    label.form-label Длина (см) 
                    input.form-control(type='text' value= `${result[0].length}` data-namber="true" name="length")
                .mb-3
                    label.form-label Ширина (см)
                    input.form-control(type='text' value= `${result[0].width}` data-namber="true" name="width")
                .mb-3
                    label.form-label Глубина (см)
                    input.form-control(type='text' value= `${result[0].depth}` data-namber="true" name="depth")
                .mb-3
                    label.form-label Цена
                    input.form-control(type='text' value= `${result[0].price}` data-namber="true" name="price")
                .mb-3
                    img(src=result[0].imgSours, alt="", srcset="").mb-3
                    .custom-file
                        input#fileBath.custom-file-input.upladed(type='file' name="file")
                        label.custom-file-label(for='fileBath') Изображение для ванной


                a(href="/adminPanel/bathroom").btn.btn-primary.card-body-news-CRUD__button-back.mr-3.float-left(type='submit') ← назад 
                button.btn.btn-primary.float-left(type='submit' name="formBtn" data-type='update' data-url="/adminPanel/bathroom/update" data-id=result[0].id  data-img=result[0].imgSours) Отправить
                        



block footer
  script(src="/assets/vendor.js")
  script(src="/assets/admin.js")