extends layout
block head
  link(rel='stylesheet', href='/assets/style.css')
  link(rel="stylesheet", href="/assets/vendor.css")
  meta(name='description' content='Онлайн магазин предоставляюший спектр сантехнических товаров по сравнительно приемлемым ценам')
  meta(name='Keywords' content='Сантехника, магазин, строй матерьялы')
  script(src="https://api-maps.yandex.ru/2.1/?apikey=93cbc4c4-15e5-4364-8ce7-c2c04785f629&lang=ru_RU" type="text/javascript")
block content
  section.header 
    .wrap.header__content 
      img(src="./images/logo.svg", alt="", srcset="").header__logo
      ul.header__list 
        li.header__list-item.mr-4
          a(href="#about") О компании
        li.header__list-item.mr-4
          a(href="#contacts") контакты
        li.header__list-item
          a(href="#map")  Мы на карте

      .hamburger
        .hamburger__line-container
            span.hamburger__line
            span.hamburger__line.span.hamburger__line_midl
            span.hamburger__line


    .wrap.header__content-mobil 
      ul.header__list.header__list_mobile 
        li.header__list-item.header__list-item_mobile
          a(href="#about") О компании
        li.header__list-item.header__list-item_mobile
          a(href="#contacts") контакты
        li.header__list-item.header__list-item_mobile
          a(href="#map")  Мы на карте


  section.order 
    .wrap.order__wrap
      .order__header
        span.long-line.long-line_order.mr-2  ——
        span.order__header-text САНТЕХНИКА ЭТО ТО ЧТО МЫ ДЕЛАЕМ
      .order__content.mt-2
        p.order__content-prev КОМАНДА, КОТОРОЙ ВЫ МОЖЕТЕ ДОВЕРЯТЬ
        p.order__content-description.mt-2 Вся наша команда сантехников сертифицирована и имеет многолетний опыт работы как в жилых, так и в коммерческих сантехнических работах.
      button.button.mt-5 УЗНАТЬ БОЛЬШЕ
    .hero.wrap
      ul.hero__list
        li.hero__list-item 
            .hero__list-item-content
              img(src="./images/earth-globe.svg", alt="", srcset="").hero__list-item-img
              .hero__list-item-title.mt-5
                span РАБОТАЕМ ПО ВСЕМУ МИРУ

        li.hero__list-item 
          .hero__list-item-content
            img(src="./images/clock-on-circular.svg", alt="", srcset="").hero__list-item-img
            .hero__list-item-title.mt-5
                span СОБЛЮДАЕМ СРОКИ

        li.hero__list-item 
          .hero__list-item-content
            img(src="./images/business-man.svg", alt="", srcset="").hero__list-item-img
            .hero__list-item-title.mt-5
                span ОТВЕТСТВЕННЫЙ ПЕРСОНАЛ
  section.about.wrap.mt-100
    a(name="about") 
    img(src="./images/worker.png", alt="", srcset="").about__img.mr-5
    .about__container
      .about__header.mb-2 
        span.long-line.long-line_other.mr-2  ——
        span.about__headers О КОМПАНИИ
      p.about__name.mb-4 Plubmbit - это то, чем&nbsp;мы&nbsp;занимаемся
      p.about__content.mb-3 Мы являемся отмеченной наградами сантехнической компанией с более чем 20-летним опытом работы в этом бизнесе. Мы предоставляем широкий спектр услуг как для жилых, так и для коммерческих клиентов.
      p.about__content.mb-6 Ни одна работа не будет слишком большой или слишком маленькой, мы вас прикроем. В дополнение к нашим услугам, вы можете посетить наш магазин для широкого спектра сантехнических принадлежностей и оборудования. Когда дело доходит до сантехники, мы - ваш универсальный магазин.
      button.button УЗНАТЬ БОЛЬШЕ
  //- section.categories.pt-100.mt-100 
    a(name="categories") 
    .wrap
      .categories__header.mb-2
        span.long-line.long-line_other.mr-2  ——
        span.paragraf__title КАТЕГОРИИ 
      span.paragraf__name Ремонт
      ul.categories__list.mt-5.pb-11
        li.categories__list-item
          a(href="#") 
            img(src="./images/category_bath.png", alt="", srcset="")
            .categories__name-bar 
              p.categories__name Ванная комната
        
        li.categories__list-item
          a(href="#") 
            img(src="./images/category_kichen.png", alt="", srcset="")
            .categories__name-bar 
              p.categories__name Кухни
        
        li.categories__list-item
          a(href="#") 
            img(src="./images/category_sanuzel.png", alt="", srcset="")
            .categories__name-bar 
              p.categories__name Санузел
  section.products.wrap
    .products__header.mt-100.mb-2
      span.long-line.long-line_other.mr-2  ——
      span.paragraf__title ТОВАРЫ 
    span.paragraf__name.mt-5 Ванные

    .swiper-container.mt-4.mb-4
      .swiper-wrapper
          each val in bathroomData
            .swiper-slide.products__container(data-popup = `<div class="popup"> <div class="popup-content"> <div class="popup-header"> <h2 class="products__name">${val.name}</h2> <span class="close">&times;</span> </div> <div class="popup-body"> <img src=${val.imgSours} alt="" srcset="" class="products__popup-img" /> <div class="products__popup-description"> <h3 class="products__popup-header">Характеристики товара</h3> <ul class="products__popup-list"> <li class="products__popup-list-item">Артиикул: ${val.arcticul}</li> <li class="products__popup-list-item">Производитель: ${val.manufacturer}</li> <li class="products__popup-list-item">Каркас: ${val.frame}</li> <li class="products__popup-list-item">Слив-перелив: ${val.drain}</li> <li class="products__popup-list-item">Фронтальная панель: ${val.panel}</li> <li class="products__popup-list-item">Длина (см): ${val.length} см</li> <li class="products__popup-list-item">Ширина (см): ${val.width} см</li> <li class="products__popup-list-item">Глубина (см): ${val.depth} см</li> <li class="products__popup-list-item">Цена: ${val.price} Р</li></ul> </div></div>`)  
                img(src=val.imgSours, alt="", srcset="").products__img-bath
                span.products__short-description  #{val.name}

      .swiper-button-next
      .swiper-button-prev

    span.paragraf__name Душевые кабины
    .swiper-container.mt-4.mb-4
      .swiper-wrapper
        each val in showerData
          .swiper-slide.products__container(data-popup = `<div class="popup"> <div class="popup-content"> <div class="popup-header"> <h2 class="products__name">${val.name}</h2> <span class="close">&times;</span> </div> <div class="popup-body"> <img src=${val.imgSours} alt="" srcset="" class="products__popup-img products__popup-img_shower" /> <div class="products__popup-description"> <h3 class="products__popup-header">Характеристики товара</h3> <ul class="products__popup-list"> <li class="products__popup-list-item">Артиикул: ${val.arcticul}</li> <li class="products__popup-list-item">Производитель: ${val.manufacturer}</li> <li class="products__popup-list-item">Гарантия: ${val.guarantee}</li> <li class="products__popup-list-item">Высота (см): ${val.height} см</li> <li class="products__popup-list-item">Длина (см): ${val.length} см</li> <li class="products__popup-list-item">Ширина (см): ${val.width} см</li>  <li class="products__popup-list-item">Цена: ${val.price} Р</li></ul> </div></div>`)  
            img(src=val.imgSours, alt="", srcset="").products__img-shower
            span.products__short-description  #{val.name}
      .swiper-button-next
      .swiper-button-prev
    
    span.paragraf__name Раковины
    .swiper-container.mt-4.mb-4
      .swiper-wrapper
        each val in sinksData
          .swiper-slide.products__container(data-popup = `<div class="popup"> <div class="popup-content"> <div class="popup-header"> <h2 class="products__name">${val.name}</h2> <span class="close">&times;</span> </div> <div class="popup-body"> <img src=${val.imgSours} alt="" srcset="" class="products__popup-img products__popup-img_shower" /> <div class="products__popup-description"> <h3 class="products__popup-header">Характеристики товара</h3> <ul class="products__popup-list"> <li class="products__popup-list-item">Артиикул: ${val.arcticul}</li> <li class="products__popup-list-item">Производитель: ${val.manufacturer}</li> <li class="products__popup-list-item">Страна производства: ${val.country}</li> <li class="products__popup-list-item">Ширина (см): ${val.width} см</li> <li class="products__popup-list-item">Глубина (см): ${val.depth} см</li> <li class="products__popup-list-item">Гарантия: ${val.guarantee}</li>  <li class="products__popup-list-item">Цена: ${val.price} Р</li></ul> </div></div>`)  
            img(src=val.imgSours, alt="", srcset="").products__img-sink
            span.products__short-description  #{val.name}

      .swiper-button-next
      .swiper-button-prev
  
  
    span.paragraf__name Смесители
    .swiper-container.mt-4.mb-4
      .swiper-wrapper
        each val in mixerData
          .swiper-slide.products__container(data-popup = `<div class="popup"> <div class="popup-content"> <div class="popup-header"> <h2 class="products__name">${val.name}</h2> <span class="close">&times;</span> </div> <div class="popup-body"> <img src=${val.imgSours} alt="" srcset="" class="products__popup-img products__popup-img_shower" /> <div class="products__popup-description"> <h3 class="products__popup-header">Характеристики товара</h3> <ul class="products__popup-list"> <li class="products__popup-list-item">Артиикул: ${val.arcticul}</li> <li class="products__popup-list-item">Производитель: ${val.manufacturer}</li> <li class="products__popup-list-item">Страна производства: ${val.country}</li> <li class="products__popup-list-item">Управление: ${val.control} </li> <li class="products__popup-list-item">Гарантия: ${val.guarantee}</li>  <li class="products__popup-list-item">Цена: ${val.price} Р</li></ul> </div></div>`) 
            img(src=val.imgSours, alt="", srcset="").products__img-mixer
            span.products__short-description  #{val.name}
      .swiper-button-next
      .swiper-button-prev

    span.paragraf__name Полотенцесушители
      .swiper-container.mt-4.mb-4
        .swiper-wrapper
          each val in towelData
            .swiper-slide.products__container(data-popup = `<div class="popup"> <div class="popup-content"> <div class="popup-header"> <h2 class="products__name">${val.name}</h2> <span class="close">&times;</span> </div> <div class="popup-body"> <img src=${val.imgSours} alt="" srcset="" class="products__popup-img products__popup-img_shower" /> <div class="products__popup-description"> <h3 class="products__popup-header">Характеристики товара</h3> <ul class="products__popup-list"> <li class="products__popup-list-item">Артиикул: ${val.arcticul}</li> <li class="products__popup-list-item">Производитель: ${val.manufacturer}</li> <li class="products__popup-list-item">Форма: ${val.form} </li> <li class="products__popup-list-item">Страна: ${val.country}</li> <li class="products__popup-list-item">Гарантия: ${val.guarantee} </li>   <li class="products__popup-list-item">Цена: ${val.price} Р</li></ul> </div></div>`)
              img(src=val.imgSours, alt="", srcset="").products__img-mixer
              span.products__short-description  #{val.name}

        .swiper-button-next
        .swiper-button-prev 

    span.paragraf__name Унитазы
    .swiper-container.mt-4.mb-4
      .swiper-wrapper
        each val in toiletData
          .swiper-slide.products__container(data-popup = `<div class="popup"> <div class="popup-content"> <div class="popup-header"> <h2 class="products__name">${val.name}</h2> <span class="close">&times;</span> </div> <div class="popup-body"> <img src=${val.imgSours} alt="" srcset="" class="products__popup-img products__popup-img_shower" /> <div class="products__popup-description"> <h3 class="products__popup-header">Характеристики товара</h3> <ul class="products__popup-list"> <li class="products__popup-list-item">Артиикул: ${val.arcticul}</li> <li class="products__popup-list-item">Производитель: ${val.manufacturer}</li> <li class="products__popup-list-item">Ширина (см): ${val.width} </li> <li class="products__popup-list-item">Глубина (см): ${val.depth} см</li>  <li class="products__popup-list-item">Направление выпуска: ${val.release_direction} </li> <li class="products__popup-list-item">Сиденье в комплекте: ${val.seat_included} </li> <li class="products__popup-list-item">Страна: ${val.country} </li> <li class="products__popup-list-item">Гарантия: ${val.guarantee} </li>   <li class="products__popup-list-item">Цена: ${val.price} Р</li></ul> </div></div>`)
            img(src=val.imgSours, alt="", srcset="").products__img-mixer
            span.products__short-description   #{val.name}

      .swiper-button-next
      .swiper-button-prev
  
  section#PopupContainer

  section.footer.mt-100
    a(name="contacts") 
    a(name="map") 
    .footer__container.wrap.pt-8.pb-8
      #map
      .contacts
        .products__header.mb-2
          span.long-line.long-line_other.mr-2  ——
          span.paragraf__title КОНТАКТЫ 
        span.paragraf__name Узнать о нас?

        ul.contacts__list.mt-7
          li.contacts__list-item 
            span.contacts__list-header Контактный телефон:
            span.contacts__list-content +7 (952) 580-15-29

          li.contacts__list-item 
            span.contacts__list-header Адрес:
            span.contacts__list-content г. Росто-на-Дону, ул. Доватора, д. 279а

          li.contacts__list-item
            span.contacts__list-header Почта для связи:
            span.contacts__list-content sotskyrr@gmail.com

block footer
      script(src="/assets/vendor.js")
      script(src="/assets/app.js")